<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Event Sourcing</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
  </head>

  <body>
    {%- include 'navigation.html' -%}

    <main role="main" class="container">

        <h1>Event Sourcing</h1>
        <small>A playground for testing and breaking event sourcing.</small>
        <hr />

      {% block content %}{% endblock %}
    </main>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>

</html>
