{% extends "base.html" %}

{% block content %}

    <h3>Customers</h3>

    <table class="table table-bordered mt-3 mb-3">
        <tr>
            <td>Name</td>
            <td>Job Title</td>
            <td>Salary</td>
        </tr>
        {% for customer in customers.entities %}
            <tr>
                <td><a href="{{ url_for('customer', customer_id=customer._id) }}">{{ customer.name }}</a></td>
                <td>{{ customer.job }}</td>
                <td>£{{ '{:,.0f}'.format(customer.salary) }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>All Events</h3>

    <table class="table table-bordered mt-3 mb-3">
        <tr>
            <td>Created</td>
            <td>Entity</td>
            <td>Customer ID</td>
            <td>Event</td>
            <td>Data</td>
            <td>User ID</td>
        </tr>
        {% for event in customers.events %}
            <tr>
                <td>{{ event.created }}</td>
                <td>{{ event.aggregate_type }}</td>
                <td>{{ event.aggregate_id }}</td>
                <td>{{ event.event_type }}</td>
                <td>{{ event.data }}</td>
                <td>{{ event.user_id }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
